.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
input{
    height: 5vh;
    width: 400px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--White-Dark-Light-Text);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}
select{
    height: 5vh;
    width: 170px;
    border: none;
    outline: none;
    padding: 8px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    font-weight: 600;
    border-right: 10px solid transparent;

}
